<mat-card class="add-margin">
  <mat-card-title *ngIf="newForm">Add New Product</mat-card-title>
  <mat-card-title *ngIf="!newForm">Edit - {{oldName}}</mat-card-title>
  <mat-card-content>
    <form class="form">
      <!-- Name -->
      <mat-form-field>
        <input matInput placeholder="Name:" name="name" [(ngModel)]="product.name">
      </mat-form-field>

      <!-- Price -->
      <mat-form-field *ngIf="newForm">
        <input matInput placeholder="Price ($):" step="0.05" type="number" name="price.price" [(ngModel)]="price.price">
      </mat-form-field>

      <!-- Price Currency -->
      <mat-form-field *ngIf="newForm">
        <mat-select placeholder="Price Currency:" name="price.currency" [(ngModel)]="price.currency">
          <mat-option *ngFor="let cur of currencies" [value]="cur">
            {{cur.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Product type dropdown -->
      <mat-form-field>
        <mat-select placeholder="Product Category:" name="productCategory" [(ngModel)]="product.productCategory">
          <mat-option *ngFor="let cat of productCategories" [value]="cat">
            {{cat.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Bar Code -->
      <mat-form-field>
        <input matInput placeholder="Bar Code" type="text" name="barcode" [(ngModel)]="product.barcode">
      </mat-form-field>

      <!-- Short Code -->
      <mat-form-field>
        <input matInput placeholder="Short Code" type="text" name="shortcode" [(ngModel)]="product.shortcode">
      </mat-form-field>

      <!-- Current Stock -->
      <mat-form-field *ngIf="newForm">
        <input matInput placeholder="Current Stock" type="number" step="1" name="currentStock" [(ngModel)]="product.currentStock.quantity">
      </mat-form-field> 
    </form>
  </mat-card-content>
  
  <!-- Save/Cancel -->
  <mat-action-row class="new-item-action-row">
    <button mat-button (click)="returnProduct()">Save</button>
    <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  </mat-action-row>
</mat-card>