<div class="flex justify-center flex-wrap add-margin container">
  
    <mat-card routerLink="/sell" class="add-margin">
      <mat-card-title>Sell</mat-card-title>
    </mat-card>
  
    <mat-card routerLink="/stocks" class="add-margin">
      <mat-card-title>Stocks</mat-card-title>
  </mat-card>

  <mat-card routerLink="/masters" class="add-margin">
    <mat-card-title>Masters</mat-card-title>
  </mat-card>

  <mat-card routerLink="/dayend" class="add-margin">
    <mat-card-title>Dayend</mat-card-title>
  </mat-card>
  
</div>  