<div class="flex justify-center flex-wrap add-margin container">
  
  <mat-card routerLink="/stocks/items" class="add-margin">
    <mat-card-title>Stock Items</mat-card-title>
  </mat-card>
    
    <mat-card routerLink="/stocks/current" class="add-margin">
      <mat-card-title>Current Stock</mat-card-title>
    </mat-card>

  <mat-card routerLink="/stocks/prices" class="add-margin">
    <mat-card-title>Schedule of Pricing</mat-card-title>
  </mat-card>

  <mat-card routerLink="/stocks/stock-receive" class="add-margin">
    <mat-card-title>Stock Receive</mat-card-title>
  </mat-card>

  <mat-card routerLink="/stocks/stock-take" class="add-margin">
    <mat-card-title>Stock Take</mat-card-title>
  </mat-card>
  
</div>  