<h2 mat-dialog-title *ngIf="newForm">Add Currency {{ currency.name ? ' - ' + currency.name : '' }}</h2>
<h2 mat-dialog-title *ngIf="!newForm">Edit Currency Details - {{ currency.name }}</h2>
<mat-dialog-content>
  <mat-card class="add-margin">
    <mat-card-content>

      <!-- Name -->
      <div class="form-group row">
        <label for="currency.name" class="col-sm-4 col-form-label">Name : </label>
        <div class="col-sm-8">
          <input class="form-control" placeholder="name" name="currency.name" [(ngModel)]="currency.name">
        </div>
      </div>

      <!-- symbol -->
      <div class="form-group row">
        <label for="currency.currencyRate" class="col-sm-4 col-form-label">Symbol : </label>
        <div class="col-sm-8">
          <input class="form-control" placeholder="symbol" name="currency.symbol" [(ngModel)]="currency.symbol">
        </div>
      </div>

      <!-- currencyRate -->
      <div class="form-group row">
        <label for="currency.currencyRate" class="col-sm-4 col-form-label">Currency Rate : </label>
        <div class="col-sm-8">
          <input class="form-control" placeholder="0" type="number" step="0.01" name="currency.currencyRate"
            [(ngModel)]="currency.currencyRate">
        </div>
      </div>

      <!-- bondRate -->
      <div class="form-group row">
        <label for="currency.bondRate" class="col-sm-4 col-form-label">Bond Value : </label>
        <div class="col-sm-8 input-group">
          <input class="form-control" placeholder="0" type="number" step="0.01" name="currency.bondRate" [(ngModel)]="currency.bondRate">
        </div>
      </div>

      <!-- ecocashTransferRate
      <div class="form-group row">
        <label for="currency.ecocashTransferRate" class="col-sm-4 col-form-label">Ecocash Transfer Value : </label>
        <div class="col-sm-8 input-group">
          <input class="form-control" placeholder="0" type="number" step="0.01" name="currency.ecocashTransferRate"
            [(ngModel)]="currency.ecocashTransferRate">
        </div>
      </div> -->

      <!-- defaultCurrency -->
      <div class="form-group row">
        <label for="currency.defaultCurrency" class="col-sm-4 col-form-label">Default Currency : </label>
        <div class="col-sm-8 input-group">
          <mat-checkbox [(ngModel)]="currency.defaultCurrency"></mat-checkbox>
        </div>
      </div>

      <!-- displayOnSummary -->
      <div class="form-group row">
        <label for="currency.displayOnSummary" class="col-sm-4 col-form-label">Display On Sales Summary: </label>
        <div class="col-sm-8 input-group">
          <mat-checkbox [(ngModel)]="currency.displayOnSummary"></mat-checkbox>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<div class="spacer"></div>
<mat-dialog-actions class="dialog-footer ml ml-a" style="margin-left:auto;">
  <button mat-raised-button color="primary" (click)="returnCurrency()">Add Currency</button>
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
</mat-dialog-actions>