<div class="flex justify-center flex-wrap add-margin container">

  <mat-card routerLink="stock-items" class="add-margin">
    <mat-card-title>Stock Items</mat-card-title>
  </mat-card>

  <mat-card routerLink="suppliers" class="add-margin">
    <mat-card-title>Suppliers</mat-card-title>
  </mat-card>

  <mat-card routerLink="currency" class="add-margin">
    <mat-card-title>Currency</mat-card-title>
  </mat-card>

  <!-- <mat-card routerLink="users" class="add-margin">
    <mat-card-title>Users</mat-card-title>
  </mat-card> -->

  <mat-card routerLink="payment-type" class="add-margin">
    <mat-card-title>Payment Types</mat-card-title>
  </mat-card>

  <mat-card routerLink="product-category" class="add-margin">
    <mat-card-title>Product Categories</mat-card-title>
  </mat-card>

</div>