<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="head :: head"> </head>
 <body> 
 <div class="wrapper">
           <div th:replace ="sidebar::sidebar"></div>
            <div id="content">

                <div th:replace ="navheader::navheader"></div>
                <h2>Error</h2><h2 th:text="${status}">status-code</h2>
                <div class="line"></div>
                <div id="msg"></div>
                <div th:if="${url}">
		<b>Page:</b> <span th:text="${url}">Page URL</span>                    
                </div>
                <div th:if="${timestamp}" id='created'>
		<b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
                </div>
                <div th:if="${status}">
		<b>Response Status:</b> <span th:text="${status}">status-code</span> <span
			th:if="${error}" th:text="'('+${error}+')'">error ...</span>
                </div>
            </div>
            </div>
  <div th:replace ="footer::footer"></div>
  <script th:utext="${msg}"></script>
 </body>
</html>