<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head lang="en" th:replace="head :: head"><title></title></head>
 <body> 
 <div class="wrapper">
           <div th:replace ="sidebar::sidebar"></div>
            <div id="content">

                <div th:replace ="navheader::navheader"></div>
                <h2>Appointmenttime</h2>
                <div class="line"></div>
                <div id="msg"></div>
                <!-- Content Start Here -->
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12"><a th:href="@{'/master/appointmenttimeaction/0' }"><span class="glyphicon glyphicon-plus"></span></a></div>
                </div>
               <table class="table">
               <tr>
               <th>Action</th>
                <th>Name</th>
                <th>Active</th>
               </tr>
    <tr data-th-each="appointmenttime : ${appointmenttimes}">
        <td><a th:href="@{'/master/appointmenttimeaction/' + ${appointmenttime.getAppointmenttimeID()}}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td data-th-text="${appointmenttime.getAppointmenttimeName()}">...</td>
        <td ><div th:if="${appointmenttime.findByActiveStatusTrueStatus() == 1}"> Yes </div><div th:if="${appointmenttime.findByActiveStatusTrueStatus() == 0}">No</div></td>
    </tr>
</table>
                <!-- Content End Here -->
            </div>
            </div>
  <div th:replace ="footer::footer"></div>
  <script th:utext="${msg}"></script>
 </body>
</html>