<div id='100' class="panel panel-info pop">
<div class="panel-heading">
<h3 class="panel-title">Instant Printing</h3>
</div>
<div class="panel-body"><div id="200"></div><table th:utext="${data}"></table> <div class="row">
<div class="col-lg-6 col-md-6 col-sm-6" align="right"><input type="button" name="btnSubmit" id="btnSubmit" onclick="sendToInstantPrinter(this)" value="Send To Printer" class="btn btn-primary" /></div>
<div class="col-lg-6 col-md-6 col-sm-6"><a onclick="dropdownhide(100)"  class="btn btn-primary">Cancel</a></div>
</div></div></div>