<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="head :: head"> </head>
 <body> 
 <div class="wrapper">
           <div th:replace ="sidebar::sidebar"></div>
            <div id="content">

                <div th:replace ="navheader::navheader"></div>
                <h2>Approval</h2>
                <div class="line"></div>
                <div id="msg"></div>
                <!-- Content Start Here -->
<!--                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12"><a th:href="@{'/stocks/approvalaction/0' }"><span class="glyphicon glyphicon-plus" title = "Add" ></span></a></div>
                </div>-->
               <table class="table">
               <tr>
               <th>Action</th>
                <th>Name</th>
                <th>Active</th>
               </tr>
    <tr data-th-each="approval : ${approvals}">
        <td><a th:href="@{'/stocks/approvalaction/' + ${approval.id}}"><span class="glyphicon glyphicon-edit" title = "Add Approval"></span></a></td>
        <td data-th-text="${approval.approvalName}">...</td>
        <td ><div th:if="${approval.activeStatus}"> Yes </div><div th:if="${!approval.activeStatus}">No</div></td>
    </tr>
</table>
                <!-- Content End Here -->
            </div>
            </div>
  <div th:replace ="footer::footer"></div>
  <script th:utext="${msg}"></script>
 </body>
</html>