<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="head :: head"> </head>
 <body> 
 <div class="wrapper">
           <div th:replace ="sidebar::sidebar"></div>
            <div id="content">

                <div th:replace ="navheader::navheader"></div>
                <h2>Create New Goods Received Voucher (GRV)</h2>
                <div class="line"></div>
                <div id="msg"></div>
                <!-- Content Start Here -->
                <form id="formu" name="formu" action="#" th:action="@{/stocks/goodsreceivedform}" th:object="${stockTransaction}" method="post" onchange="validateform()">
                    <input type="hidden" class="form-control" th:field="*{id}"  />
                    <input type="hidden" class="form-control" th:field="*{stockTransactionType}"  />
                    <input type="hidden" class="form-control" th:field="*{locationFrom}"  />
                    <input type="hidden" class="form-control" th:field="*{unitTo}"  />
                    <input type="hidden" class="form-control" th:field="*{unitFrom}"  />
                    <input type="hidden" class="form-control" th:field="*{stockRequest}"  />
                    <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6" align="right">Supplier</div>
                            <div class="col-lg-6 col-md-6 col-sm-6"><select th:disabled="${stockTransaction.id > 0}" class="selectpicker" data-style="btn-default"  data-live-search="true" th:field="*{stockSupplier}" >
                                    <option value="0" text="Choose stockSupplier"></option>                          
                                    <option th:each="stockSupplier : ${stockTransaction.stockSuppliers}"
                                                 th:value="${stockSupplier.id}"
                                                 th:text="${stockSupplier.name}">....</option>  </select>
                            </div>
                        </div>
                  <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6" align="right">Location</div>
                  <div class="col-lg-6 col-md-6 col-sm-6"><select  th:disabled="${stockTransaction.id > 0}" class="selectpicker" data-style="btn-default"  data-live-search="true" th:field="*{locationTo}" >
                          <option value="0" text="Choose Location"></option>
                        <option th:each="location : ${locations}"
                             th:value="${location.id}"
                             th:text="${location.locationName.name}">....</option>  </select>
                  </div>
                </div>
                  <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6" align="right">Invoice Number</div>
                  <div class="col-lg-6 col-md-6 col-sm-6"><div class="form-group"><input th:disabled="${stockTransaction.id > 0}" type="text" class="form-control" th:field="*{invoiceNumber}"  validate="1" data-empty-error="Invoice Number cannot be empty" /><div class="help-block with-errors"></div></div></div>
                </div>
                  <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6" align="right">Delivery Note</div>
                  <div class="col-lg-6 col-md-6 col-sm-6"><div class="form-group"><input th:disabled="${stockTransaction.id > 0}" type="text" class="form-control" th:field="*{deliveryNote}"  /><div class="help-block with-errors"></div></div></div>
                </div>
                  <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6" align="right">Order Number</div>
                  <div class="col-lg-6 col-md-6 col-sm-6"><div class="form-group"><input th:disabled="${stockTransaction.id > 0}" type="text" class="form-control" th:field="*{orderNumber}"  validate="1" data-empty-error="Order Number cannot be empty" /><div class="help-block with-errors"></div></div></div>
                </div>
                  <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6" align="right">Discount</div>
                  <div class="col-lg-6 col-md-6 col-sm-6"><input type="text" class="form-control" th:field="*{discount}" oninput="this.value = getPositiveValue(this.value)" /></div>
                </div>
                  <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6" align="right">Remarks</div>
                  <div class="col-lg-6 col-md-6 col-sm-6"><textarea  th:disabled="${stockTransaction.id > 0}" class="form-control" th:field="*{remarks}" ></textarea></div>
                </div>
                  <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6" align="right">Total Cost</div>
                  <div class="col-lg-6 col-md-6 col-sm-6"><input type="text" readonly="readonly" class="form-control" th:field="*{transactionCost}" /></div>
                </div>
                    <table class='table'>
                        <tr>
                            <th>Type of Cost</th>
                            <th>Cost</th>
                        </tr>
                        <tr th:if='${stockTransaction.id == 0}' th:each="additionalCostType , rowStat: *{additionalCostTypes}">
                            <td><input type="text" readonly="readonly" class="form-control" th:name="'additionalCosts['+${rowStat.index}+'].additionalCostType'" th:value="${additionalCostType}" /><input type="hidden"  class="form-control" th:name="'additionalCosts['+${rowStat.index}+'].id'" value='0' /></td>  
                            <td><input type="text" class="form-control" th:name="'additionalCosts['+${rowStat.index}+'].cost'" value="0"  oninput="this.value = getPositiveValue(this.value)" /></td>  
                        </tr>  
                        <tr th:if='${stockTransaction.id > 0}' th:each="additionalCosts , rowStat: *{additionalCosts}">
                            <td><input type="text" readonly="readonly" class="form-control" th:field="*{additionalCosts[__${rowStat.index}__].additionalCostType}" /><input type="hidden"  class="form-control" th:name="'additionalCosts['+${rowStat.index}+'].id'" value='0' /></td>  
                            <td><input type="text" class="form-control" th:field="*{additionalCosts[__${rowStat.index}__].cost}" /></td>  
                        </tr>  
                    </table> 
                <div class="well">
                    <div th:if='${stockTransaction.id > 0}' >
                <table class="table" id="table">
                <tr>
                  <th>Requisition Generic Stock Type</th>
                  <th>Requisition Unit of Measure</th>
                  <th>Requisition Quantity</th>
                  <th>Received Name</th>
                  <th>Received Quantity</th>
                  <th>Free Quantity</th>
                  <th>Discount</th>
                  <th>Cost</th>
                  <th>Weighted Average Cost</th>
                  <th>Batch Number</th>
                  <th>Expiry Date</th>
                  <th>Line Total</th>
                  <th>Vat</th>
                  <th>Consignment</th>
                </tr>
               <tr th:each="stockTransactionLines , rowStat: *{stockTransactionLines}">
<!--                   temporary removal for GRV data
<td th:text="*{stockTransactionLines[__${rowStat.index}__].stockRequestItem.genericStockType.name}" 
                       th:title="*{stockTransactionLines[__${rowStat.index}__].stockRequestItem.genericStockType.name}">...</td>
                   <td th:text="*{stockTransactionLines[__${rowStat.index}__].stockRequestItem.unitOfMeasure.name}" 
                       th:title="*{stockTransactionLines[__${rowStat.index}__].stockRequestItem.unitOfMeasure.name}" >...</td>
                  <td  th:text="*{stockTransactionLines[__${rowStat.index}__].stockRequestItem.quantity}" ></td>
-->
                    <td th:text="*{stockTransactionLines[__${rowStat.index}__].stockType.genericStockType.name}" 
                       th:title="*{stockTransactionLines[__${rowStat.index}__].stockType.genericStockType.name}">...</td>
                   <td th:text="*{stockTransactionLines[__${rowStat.index}__].stockType.unitOfMeasure.name}" 
                       th:title="*{stockTransactionLines[__${rowStat.index}__].stockType.unitOfMeasure.name}" >...</td>
                  <td  th:text="*{stockTransactionLines[__${rowStat.index}__].quantity}" ></td>

                  <td th:text="*{stockTransactionLines[__${rowStat.index}__].stockType.name}" 
                              th:title="*{stockTransactionLines[__${rowStat.index}__].stockType.name}" 
                              ></td>
                  <td th:text="*{stockTransactionLines[__${rowStat.index}__].quantity}"> </td>
                  <td  th:text="*{stockTransactionLines[__${rowStat.index}__].freeQuantity}" ></td>
                  <td  th:text="*{stockTransactionLines[__${rowStat.index}__].discount}" ></td>
                  <td  th:text="*{stockTransactionLines[__${rowStat.index}__].lastReceiptCostRate}" ></td>
                  <td  th:text="*{stockTransactionLines[__${rowStat.index}__].weightedAverageCost}" ></td>
                  <td  th:text="*{stockTransactionLines[__${rowStat.index}__].batchNumber}" ></td>               
                  <td  th:text="*{stockTransactionLines[__${rowStat.index}__].expiryDate}" ></td>               
                  <td  th:text ="*{stockTransactionLines[__${rowStat.index}__].cost}" ></td>                       
                  <td  th:text ="*{stockTransactionLines[__${rowStat.index}__].vat}" ></td>          
                  <td  th:text ="*{stockTransactionLines[__${rowStat.index}__].consignment}" ></td>
                   </tr>                
                </table>
                </div>                    
                    <div th:if='${stockRequestId > 0 and stockTransaction.id == 0}' >
                        <table class="table" id="table1" onchange="calcGRV()">
                <tr>
                  <th>Action</th>
                  <th>Requisition Generic Stock Type</th>
                  <th>Requisition Unit of Measure</th>
                  <th>Requisition Quantity</th>
                  <th>Received Name</th>
                  <th>Received Quantity</th>
                  <th>Free Quantity</th>
                  <th>Discount</th>
                  <th>Cost</th>
                  <th>Weighted Average Cost</th>
                  <th>Batch Number</th>
                  <th>Expiry Date</th>
                  <th>Line Total</th>
                  <th>Vat</th>
                  <th>Consignment</th>
                  </tr> 
                <tr th:each="stockRequestItems , rowStat: *{stockRequestItems}" th:id="${rowStat.index}">
                    <td><a th:onclick="'cloneTableRow('+${rowStat.index}+')'" disabled="disabled" th:id="'copy'+${rowStat.index}"><span class="glyphicon glyphicon-copy"></span></a><input type="hidden"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].id'" value='0' /><input type="hidden"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].stockRequestItem'"  th:value="${stockRequestItems.id}"  /></td>
                 <td ><input type="text"  readonly="readonly"  class="form-control"   th:value="${stockRequestItems.genericStockType.name}" /><input type="hidden"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].stockRequest.genericStockType.id'"  th:value="${stockRequestItems.genericStockType.id}"  /></td>
                   <td ><input type="text"  readonly="readonly"  class="form-control"   th:value="${stockRequestItems.unitOfMeasure.name}" /><input type="hidden"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].stockRequest.unitOfMeasure.id'"  th:value="${stockRequestItems.unitOfMeasure.id}"  /></td>
                 <td ><input type="text"  readonly="readonly"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].stockRequest.quantity'" th:id="'stockTransactionLines'+${rowStat.index}+'.stockRequest.quantity'" th:value="${stockRequestItems.quantity}"  /></td>
                 <td ><input type="hidden"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].stockType'" th:id="'stockTransactionLines'+${rowStat.index}+'.stockType'" /><input type="hidden"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].baseStock'" th:id="'stockTransactionLines'+${rowStat.index}+'.baseStock'" /><div class="form-group"><select  class="form-control" th:onchange="'loadStockTypeDetails(this,'+${rowStat.index}+')'" th:id="'stockTransactionLines'+${rowStat.index}+'.stockTypes'" validate="1" data-empty-error="Stock Item cannot be empty" >
                          <option value="">Choose Stock Type</option>
                          <option th:each="stockTypes : ${stockRequestItems.stockTypes}"
                                                                                                                                  th:value="${stockTypes.id+'****'+stockTypes.lastReceiptCostRate+'****'+stockTypes.weightedAverageCost}"
                                                                                                                                  th:text="${stockTypes.name}">....</option>  </select><div class="help-block with-errors"></div></div></td>
                  <td ><div th:id="'msg'+${rowStat.index}" ></div><div class="form-group"><input type="text"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].quantity'" th:id="'stockTransactionLines'+${rowStat.index}+'.quantity'"   onkeyup="this.value = getPositiveInt(this.value)" min="0" th:max="${stockRequestItems.quantity}" validate="1" data-empty-error="Quantity cannot be empty" data-min-error="Please enter a Quantity greater than 0" data-max-error="Quantity cannot be greater than the Requested Quantity" /><div class="help-block with-errors"></div></div></td>
                  <td ><div th:id="'msg'+${rowStat.index}" ></div><div class="form-group"><input type="text"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].freeQuantity'" th:id="'stockTransactionLines'+${rowStat.index}+'.freeQuantity'"   onkeyup="this.value = getPositiveInt(this.value)" value="0" min="0" validate="1" data-empty-error="Free Quantity cannot be empty" data-min-error="Please enter a Quantity greater than 0"  /><div class="help-block with-errors"></div></div></td>
                  <td ><div class="form-group"><input type="text"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].discount'" th:id="'stockTransactionLines'+${rowStat.index}+'.discount'"   onkeyup="this.value = getPositiveValue(this.value)" value="0" validate="1" data-empty-error="Discount cannot be empty" /><div class="help-block with-errors"></div></div></td>
                  <td ><div class="form-group"><input type="text"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].lastReceiptCostRate'" th:id="'stockTransactionLines'+${rowStat.index}+'.lastReceiptCostRate'"   onkeyup="this.value = getPositiveValue(this.value)" validate="1" data-empty-error="Last Receipt cannot be empty" /><div class="help-block with-errors"></div></div></td>
                 <td ><input type="text"  readonly="readonly"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].weightedAverageCost'" th:id="'stockTransactionLines'+${rowStat.index}+'.weightedAverageCost'"  /></td>
                  <td ><div class="form-group"><input type="text"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].batchNumber'" th:id="'stockTransactionLines'+${rowStat.index}+'.batchNumber'" validate="1" data-empty-error="Batch Number cannot be empty"  /><div class="help-block with-errors"></div></div></td>               
                  <td ><div class="form-group"><input type="text"  class="form-control expiryDate" th:name="'stockTransactionLines['+${rowStat.index}+'].expiryDate'" th:id="'stockTransactionLines['+${rowStat.index}+'].expiryDate'"  validate="1" data-empty-error="Expiry Date cannot be empty" pattern-custom="yyyy-mm-dd" data-pattern-error="Invalid Expiry Date Format. Please Enter as YYYY-MM-DD" /><div class="help-block with-errors"></div></div></td>
                <td ><input type="text"  readonly="readonly"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].cost'" th:id="'stockTransactionLines'+${rowStat.index}+'.cost'"  /></td>  
                <td ><input type="text"  class="form-control" th:name="'stockTransactionLines['+${rowStat.index}+'].vat'" th:id="'stockTransactionLines'+${rowStat.index}+'.vat'"  /></td>  
                <td ><input type="checbox"  th:name="'stockTransactionLines['+${rowStat.index}+'].consignment'" th:id="'stockTransactionLines'+${rowStat.index}+'.consignment'" value="1" /></td>  
                </tr>                
                </table>                          
                    </div>
                </div>               
                 <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6" align="right"><div  th:if="${stockTransaction.id == 0}" ><input type="submit" name="btnSubmit" id="btnSubmit" onclick="disableSubmit(this)"   value="Submit" class="btn btn-primary" /></div></div>
                  <div class="col-lg-6 col-md-6 col-sm-6"><a th:href="@{/stocks/goodsreceived/}"  class="btn btn-primary">Cancel</a></div>
                </div>
                </form>
                <!-- Content End Here -->
            </div>
            </div>            
  <div th:replace ="footer::footer"></div>
  <script th:utext="${msg}"></script>
  <script type="text/javascript">
      validateform();</script>
 </body>
</html>