<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="head :: head"> </head>
 <body> 
 <div class="wrapper">
           <div th:replace ="sidebar::sidebar"></div>
            <div id="content">

                <div th:replace ="navheader::navheader"></div>
                <h2>Report Configuration List</h2>
                <div class="line"></div>
                <div id="msg"></div>
                <!-- Content Start Here -->       
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12"><a th:href="@{'/stocks/reportconfigaction/0' }"><span class="glyphicon glyphicon-plus" title = "Report Configuration"></span></a></div>
            </div>
<!--                <form th:method="get"  th:action="@{'/stocks/bookstock/'}"  th:object="${bookStock}" class="form-inline">

                    <div class="form-group row">
                        <input type="text" class="form-control" th:field="*{startDate.format(startDate, 'dd/MM/YYYY')}" /> 
                        <span class="add-on">To</span>
                        <input type="text" class="form-control" th:field="*{endDate}" /> 
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </form>-->
               <table class="table" id="table">
               <tr>
               <th>Action</th>  
               <th>name</th>    
               <th>Columns</th>               
               <!--<th>hql Query</th>-->           
               <th>Native Query</th>
               <th>unit Query</th>
               </tr>
                <tr data-th-each="reportConfig : ${reportConfigs}" >
                    <td><a th:href="@{'/stocks/reportconfigaction/' + ${reportConfig.id}}"><span class="glyphicon glyphicon-edit" title ="Edit"></span></a></td>                   
                    <td th:text="${reportConfig.name}"></td>                    
                    <td th:text="${reportConfig.columns}"></td>                    
                    <!--<td th:text="${reportConfig.hqlQuery}"></td>-->                  
                    <td th:text="${reportConfig.nativeQuery}"></td>
                    <td th:text="${reportConfig.unitQuery}"></td>
                </tr>
            </table>              
            </div>  
            </div>
  <div th:replace ="footer::footer"></div>
  <script th:utext="${msg}"></script>
 </body>
</html>
