<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="head :: head"> </head>
    <body> 
        <div class="wrapper">
            <div th:replace ="sidebar::sidebar"></div>
            <div id="content">

                <div th:replace ="navheader::navheader"></div>
                <h2 th:text="${title}"></h2>
                <div class="line"></div>
                <div id="msg"></div>
                <!-- Content Start Here -->
                <form id="formu" name="formu" action="#" th:action="@{'/stocks/requestform/'+${workFlowType}}" th:object="${stockRequest}" method="post" onchange="validateform()">
                    <input type="hidden"  class="form-control" th:field="*{id}" />
                     <div th:if="${workFlowType == T(zw.co.psmi.hms.stocks.entity.WorkFlowType).PURCHASEORDER}">   
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6" align="right">Location</div>
                            <div class="col-lg-6 col-md-6 col-sm-6"><select th:disabled="${not stockRequest.editable}" class="selectpicker" data-style="btn-default"  data-live-search="true" th:field="*{location}"  ><option value="">Choose Location</option><option th:each="location : ${stockRequest.locations}"
                                                                                                                                                                       th:value="${location.id}"
                                                                                                                                                                       th:text="${location.locationName.name}">....</option>  </select><input type="hidden" class="form-control" th:field="*{id}"  /></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6" align="right">Supplier</div>
                            <div class="col-lg-6 col-md-6 col-sm-6"><select th:disabled="${not stockRequest.editable}" class="selectpicker" data-style="btn-default"  data-live-search="true" th:field="*{stockSupplier}"  ><option value="">Choose stockSupplier</option><option th:each="stockSupplier : ${stockRequest.stockSuppliers}"
                                                                                                                                                                            th:value="${stockSupplier.id}"
                                                                                                                                                                            th:text="${stockSupplier.name}">....</option>  </select></div>

                        </div>
                    </div>
                    <div th:if="${workFlowType == T(zw.co.psmi.hms.stocks.entity.WorkFlowType).STOCKREQUEST or workFlowType == T(zw.co.psmi.hms.stocks.entity.WorkFlowType).STOCKRETURN}">                                                                                                                 
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6" align="right">Requesting Location</div>
                            <div class="col-lg-6 col-md-6 col-sm-6"><div class="form-group"><select  th:disabled="${not stockRequest.editable}" class="selectpicker" data-style="btn-default"  data-live-search="true" th:field="*{location}"  validate="1"  data-empty-error="Requesting Location cannot be empty"  >
                                    <option value="">Choose Location</option><option th:each="location : ${stockRequest.locations}"
                                            th:value="${location.id}"
                                            th:text="${location.locationName.name}">....</option>  </select><div class="help-block with-errors"></div></div><input type="hidden" class="form-control" th:field="*{id}"  /></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6" align="right">Issuing Unit</div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                            <select  th:disabled="${not stockRequest.editable}" class="selectpicker" data-style="btn-default"  data-live-search="true" th:field="*{issueUnit}" onchange="getLocations(this)"  validate="1"  data-empty-error="Issuing Unit cannot be empty" >
                                    <option value="">Choose Unit</option>
                                    <option th:each="issueUnit : ${stockRequest.issueUnits}"
                                            th:value="${issueUnit.id}"
                                            th:text="${issueUnit.name}">....</option> 
                                             </select><div class="help-block with-errors">
                                             </div></div></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6" align="right">Issuing Location</div>
                            <div class="col-lg-6 col-md-6 col-sm-6"><div class="form-group"><select  th:disabled="${not stockRequest.editable}" class="selectpicker" data-style="btn-default"  data-live-search="true"  th:field="*{issueLocation}"  validate="1"  data-empty-error="Issuing Location cannot be empty"><option th:each="issueLocation : ${stockRequest.issueLocations}"
                                                                                                                                                                             th:value="${issueLocation.id}"
                                                                                                                                                                             th:text="${issueLocation.locationName.name}">....</option>  </select><div class="help-block with-errors"></div></div></div>
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" align="right">Remarks</div>
                        <div class="col-lg-6 col-md-6 col-sm-6"><div class="form-group"><textarea  th:readonly="${not stockRequest.editable}" class="form-control" th:field="*{remarks}"  validate="1"  data-empty-error="Remarks cannot be empty"  ></textarea><div class="help-block with-errors"></div></div></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" align="right">Active</div>
                        <div class="col-lg-6 col-md-6 col-sm-6"><select th:disabled="${not stockRequest.editable}" class="form-control" th:field="*{activeStatus}" >
                                <option value="0" >No</option>
                                <option value="1" >Yes</option>
                            </select></div>
                    </div>
                    <div class="well">
                        <div th:if="${stockRequest.editable}" >
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" align="center" id="tableMsg"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Generic Stock Type</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><input class="form-control" type="text" onkeypress="getGenericStockTypeBySearch(this)" id="genericStockTypeSearch" /><select class="form-control" data-style="btn-default"  data-live-search="true" id="genericStockType1" onchange="getUomsFromGenericItems(this)"  >  </select></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Unit Of Measure</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><select class="form-control" id="unitOfMeasure1"  >  </select></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Quantity</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><input type="text" class="form-control" id="quantity"  onkeyup="this.value = getPositiveInt(this.value)"  /><input type="hidden" th:field="*{issueUnit}"  /></div>
                            </div>                
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" align="center"><input type="button" value="Add To Table" onclick="addRequestTable()" class="btn btn-success" /></div>
                            </div>
                        </div>
                        <br />
                        <table class="table" id="table">
                            <tr>
                                <th>Generic Stock Type</th>
                                <th>Unit of Measure</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                            <tr th:each="stockRequestItems , rowStat: *{stockRequestItems}">
                                <td ><input type="text" th:readonly="${not stockRequest.editable}"  class="form-control" th:field="*{stockRequestItems[__${rowStat.index}__].genericStockType.name}" th:title="*{stockRequestItems[__${rowStat.index}__].genericStockType.name}" />
                                    <input type="hidden"  class="form-control" th:field="*{stockRequestItems[__${rowStat.index}__].genericStockType.id}" />
                                    <input type="hidden" th:readonly="${not stockRequest.editable}"  class="form-control" th:field="*{stockRequestItems[__${rowStat.index}__].id}" /></td>
                                <td ><input type="text" th:readonly="${not stockRequest.editable}"  class="form-control" th:field="*{stockRequestItems[__${rowStat.index}__].unitOfMeasure.name}" />
                                    <input type="hidden"  class="form-control" th:field="*{stockRequestItems[__${rowStat.index}__].unitOfMeasure.id}" /></td>
                                <td ><input type="text" th:readonly="${not stockRequest.editable}"  class="form-control linequantity" th:field="*{stockRequestItems[__${rowStat.index}__].quantity}" /></td>
                                <td>
                                    <span class="glyphicon glyphicon-remove" th:onclick="'hide1StockRequest(\''+${rowStat.index}+'\',this);'"></span>
                                    
                                </td>
                            </tr>

                        </table>
                        <div class="form-group">    
       <input type="hidden" validate="1"  min="1" data-empty-error="Cannot be empty" data-min-error="Please enter a table Stock Item" class="form-control" name="tableCount" id="tableCount" value="${#lists.size(stockRequest.stockRequestItems)}"  required="required" /><div class="help-block with-errors"></div></div>
                    </div>   
                    <div th:if="${not stockRequest.editable}">
                        <table class="table" th:with="login=${@user}">
                            <tr>
                                <th>Action</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Role</th>
                                <th>User</th>
                            </tr>
                            <tr th:each="approvals , rowStat: *{approvals}">
                                <td ><div th:if="${login.roleID == approvals.role.id AND approvals.approvalStatus == T(zw.co.psmi.hms.stocks.entity.ApprovalStatus).PENDING}" ><a th:href="'/stocks/approvalaction/'+*{approvals[__${rowStat.index}__].id}+'/1/'+${workFlowType}"><span class="glyphicon glyphicon-ok"></span></a> <a th:href="'/stocks/approvalaction/'+*{approvals[__${rowStat.index}__].id}+'/2/'+${workFlowType}"><span class="glyphicon glyphicon-remove"></span></a></div></td>                  
                                 <td  th:text="*{approvals[__${rowStat.index}__].creationDate}"></td>
                                <td  th:text="*{approvals[__${rowStat.index}__].approvalStatus}"></td>
                                <td  th:text="*{approvals[__${rowStat.index}__].role.name}"></td>
                                <td  th:text="*{approvals[__${rowStat.index}__].user?.username}"></td>
                            </tr>

                        </table>
                          
                    </div>            
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" align="right"><div  th:if="${stockRequest.editable}" ><input type="submit" name="btnSubmit" id="btnSubmit" onclick="disableSubmit(this)" value="Submit" class="btn btn-primary" /></div></div>
<!--                        <div class="col-lg-6 col-md-6 col-sm-6" align="right"><div  th:if="${stockRequest.cancellable}" >
                                <input type="submit" name="btnSubmit" id="btnSubmit" onclick="disableSubmit(this)" value="Cancel Request" class="btn btn-primary" />
                            <input type="hidden"   th:field="*{cancellable}" class="btn btn-primary" />
                            <input type="text" validate="1" data-empty-error="Remarks cannot be empty" th:field="*{cancelRemarks}" class="btn btn-primary" />
                            </div></div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6"><a th:href="@{'/stocks/request/'+${workFlowType}}"  class="btn btn-primary">Cancel</a></div>
                    </div>
                </form>
                <!-- Content End Here -->
            </div>
        </div>            
        <div th:replace ="footer::footer"></div>
        <script th:utext="${msg}"></script>
        <script type="text/javascript">validateform();</script>
    </body>
</html>