<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="head :: head"> </head>
    <body> 
        <div class="wrapper">
            <div th:replace ="sidebar::sidebar"></div>
            <div id="content">
                <div th:replace ="navheader::navheader"></div>
                <h2>Correct Doctor Ahfoz List</h2>
                <div class="line"></div>
                <div id="msg"></div>
                <!-- Content Start Here -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12"><a th:href="@{'/bill/correctdoctorahfozaction/0' }"><span class="glyphicon glyphicon-plus" title =  "Add New"></span></a></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <form method="get" th:action="@{'/bill/correctdoctorahfoz' }" oninput="ignoreSubmitOnInput()" th:object="${correctDoctorAhfoz}" class="form-inline"> 
                          <span class="add-on">From</span>
                    <input type="text" class="form-control" th:field="*{startDate}" /> 
                    <span class="add-on">To</span>
                    <input type="text" class="form-control" th:field="*{endDate}" />  
                    <button type="submit" class="btn btn-success">Search</button>
                        </form>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th>Action</th>
                        <th>Date</th>
                        <th>Bill Start</th>
                        <th>Bill End</th>
                        <th>Done By</th>                         
                    </tr>
                    <tr data-th-each="correctDoctorAhfoz : ${correctDoctorAhfozs}">
                        <td><a  th:href="@{'/bill/correctdoctorahfozaction/'+${correctDoctorAhfoz.id}}"><span class="glyphicon glyphicon-folder-open" title = "View"></span></a></td>
                        <td data-th-text="${correctDoctorAhfoz.creationTime}">...</td>
                        <td data-th-text="${correctDoctorAhfoz.billStartDate}">...</td>
                        <td data-th-text="${correctDoctorAhfoz.billEndDate}">...</td>
                        <td data-th-text="${correctDoctorAhfoz.createdByUser}">...</td>

                    </tr>
                </table>
                <!-- Content End Here -->

            </div>
        </div>

        <div th:replace ="footer::footer"></div>
        <script th:utext="${msg}"></script>
    </body>
</html>