<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="head :: head"> </head>
 <body> 
 <div class="wrapper">
           <div th:replace ="sidebar::sidebar"></div>
            <div id="content">

                <div th:replace ="navheader::navheader"></div>
                <h2 th:text="${title}">...</h2>
                <div class="line"></div>
                <div id="msg"></div>
                <!-- Content Start Here -->
                <form id="formu" name="formu" action="#" th:action="@{/bill/correctdrugcodeform}" th:object="${correctDrugCode}" method="post"  onchange="validateform();">
                  <input  class="form-control" type="hidden" th:field="*{id}" /> 
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Start Date</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><input type="text" readonly="readonly" class="form-control" th:field="*{billStartDate}" id="startDate" /> </div>
                            </div>   
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">End Date</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><input type="text" readonly="readonly" class="form-control" th:field="*{billEndDate}" id="endDate" /> </div>
                            </div>
                  <div  th:if="${id == 0}" >
                      <div class="well">    
                 <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" align="center" id="tableMsg4"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Product</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><input class="form-control" type="text" onkeyup="getGenericStockTypesBySearch3()" id="genericStockTypeText"  placeholder="Search Product List" /><div id="genericStockTypeList"  >  </div></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">New Code</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><input type="text" class="form-control" id="newDrugCode"   /></div>
                            </div>  
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" align="center"><input type="button" value="Add To Table" onclick="addCorrectDrugCodeTable()" class="btn btn-success" /></div>
                            </div>
                         </div>
                  </div>
                        <br /> 
               <table class="table" id="table">
                <tr>
                  <th>Action</th>
                  <th>Drug</th>
                  <th>New Code</th>            
                </tr>
                <tr th:each="correctDrugCodeItem , rowStat: *{correctDrugCodeItem}">
                  
                  <td ><input type="hidden" readonly="readonly"  class="form-control" th:field="*{correctDrugCodeItem[__${rowStat.index}__].id}" /><input type="hidden" readonly="readonly"  class="form-control" th:field="*{correctDrugCodeItem[__${rowStat.index}__].activeStatus}" /></td>
                  <td ><input type="text" readonly="readonly"  class="form-control" th:field="*{correctDrugCodeItem[__${rowStat.index}__].stockType.name}" /></td>
                  <td ><input type="text" readonly="readonly"  class="form-control" th:value="*{correctDrugCodeItem[__${rowStat.index}__].newDrugCode}" /></td>
                </tr>
                </table> 
                 <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6" align="right"><div  th:if="${id == 0}" ><input type="submit"  name="btnSubmit" id="btnSubmit" onclick="disableSubmit(this)" value="Submit" class="btn btn-primary" /></div></div>
                  <div class="col-lg-6 col-md-6 col-sm-6"><a th:href="@{/bill/correctdrugcode/}"  class="btn btn-primary">Cancel</a></div>
                </div>
                </form>
                <!-- Content End Here -->
            </div>
            </div>            
  <div th:replace ="footer::footer"></div>
  <script th:utext="${msg}"></script>
 </body>
</html>