<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="head :: head"> </head>
 <body> 
 <div class="wrapper">
           <div th:replace ="sidebar::sidebar"></div>
            <div id="content">

                <div th:replace ="navheader::navheader"></div>
                <h2 th:text="${title}">...</h2>
                <div class="line"></div>
                <div id="msg"></div>
                <!-- Content Start Here -->
                <form id="formu" name="formu" action="#" th:action="@{/bill/receiptform}" th:object="${receipt}" method="post"  onchange="validateform();">
                  <input  class="form-control" type="hidden" th:field="*{bill}" /> 
                  <input  class="form-control" type="hidden" th:field="*{jobOrder}" /> 
                     <input  class="form-control" type="hidden" id="bill.cashPaidHidden" th:value="*{bill.cashPaid}" />
                        <input  class="form-control" type="hidden" id="bill.insurancePaidHidden" th:value="*{bill.insurancePaid}" />
                        <input  class="form-control" type="hidden" id="bill.shortfallPaidHidden" th:value="*{bill.shortfallPaid}" />
                        <input  class="form-control" type="hidden" id="bill.specialContractPaidHidden" th:value="*{bill.specialContractPaid}" />
                        
                  <div th:if="${receipt.patient}">
                      <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4" ><label>Patient Number:</label> <span th:utext="*{patient.number}"></span></div>
                          <div class="col-lg-4 col-md-4 col-sm-4" ><label>Patient Name:</label> <span th:utext="*{patient.fullname}"></span></div>
                          <div class="col-lg-4 col-md-4 col-sm-4" ><label>Date Of Birth:</label> <span th:utext="*{patient.dateOfBirth}"></span></div>
                      </div>   
                      <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4" ><label>Gender:</label> <span th:utext="*{patient.gender.name}"></span></div>
                          <div class="col-lg-8 col-md-8 col-sm-8" ></div>
                      </div>         
                    </div>
                    <table class="table">
                        <tr>
                            <td></td>
                            <th>Cash</th>
                            <th>Insurance</th>
                            <th>Shortfall</th>
                            <th>Special Contract</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <th>Payable</th>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.cashPayable}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.insurancePayable}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.shortfallPayable}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.specialContractPayable}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.grossAmount}" /></td>
                        </tr>
                        <tr>
                            <th>Paid</th>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.cashPaid}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.insurancePaid}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.shortfallPaid}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.specialContractPaid}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.paidAmount}" /></td>
                        </tr>
                        <tr>
                            <th>Owing</th>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.cashOwing}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.insuranceOwing}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.shortfallOwing}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.specialContractOwing}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.owingAmount}" /></td>
                        </tr>
                        <tr>
                            <th>Refund</th>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.cashRefund}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.insuranceRefund}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.shortfallRefund}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.specialContractRefund}" /></td>
                            <td><input readonly="readonly" class="form-control" type="text" th:field="*{bill.refundAmount}" /></td>
                        </tr>
                    </table>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Paid Amount</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><input type="text" readonly="readonly" class="form-control" th:field="*{paidAmount}" /> </div>
                            </div>                  
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Currency</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><div class="form-group"><select class="selectpicker" data-style="btn-default"  data-live-search="true" th:field="*{currency}" data-empty-error="Currency cannot be empty" > 
                                        <option value="">Choose Currency</option>
                                     <option th:each="currency : ${receipt.currencys}" th:value="${currency.id}" th:text="${currency.name}">....</option> 
                                        </select><div class="help-block with-errors"></div></div></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Change Amount</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><input type="text" readonly="readonly" class="form-control" th:field="*{changeAmount}" /> </div>
                            </div>
                  <div class="row" th:if="*{id == 0}">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Make Change</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><input type="checkbox" checked="checked" class="form-control" name="btn-default" id="makeChange"  /> </div>
                            </div>
                  <div  th:if="${id == 0}" >
                      <div class="well">
                 <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" align="center" id="tableMsg4"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Payable Amount</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><input  class="form-control" readonly="readonly" type="text" name="payableAmount" id="payableAmount" th:value="*{bill.receiptOwingAmount}" /></div>
                            </div>  
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Payment Type</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><select class="selectpicker" data-style="btn-default"  data-live-search="true" id="paymentType"  > 
                                     <option th:each="paymentType : ${receipt.paymentTypes}" th:value="${paymentType.id}+'****'+${paymentType.name}" th:text="${paymentType.name}">....</option> 
                                    </select></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Currency</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><select class="selectpicker" data-style="btn-default"  data-live-search="true" id="currency1"  > 
                                        <option value="">Choose Currency</option>
                                     <option th:each="currency : ${receipt.currencys}" th:value="${currency.id}+'****'+${currency.name}+'****'+${currency.rate}" th:text="${currency.name}">....</option> 
                                    </select></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Payment For</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><select class="selectpicker" data-style="btn-default"  data-live-search="true" id="paymentFor"  > 
                                        <option value="">Choose Payment For</option>
                                     <option th:each="paymentFor : ${receipt.paymentFors}" th:value="${paymentFor}" th:text="${paymentFor}">....</option> 
                                    </select>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" align="right">Amount</div>
                                <div class="col-lg-6 col-md-6 col-sm-6"><input type="text" class="form-control" id="amount"  oninput="this.value = getPositiveValue(this.value)"  /></div>
                            </div>  
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" align="center"><input type="button" value="Add To Table" onclick="addBillReceiptMainTable()" class="btn btn-success" /></div>
                            </div>
                         </div>
                  </div>
                        <br /> 
               <table class="table" id="tableReceipt">
                <tr>
                  <th>Action</th>
                  <th>Payment Type</th>
                  <th>Currency</th>
                  <th>Payment For</th>
                  <th>Amount</th>
                  <th>Rate</th>
                  <th>Converted Amount</th>                    
                </tr>
                <tr th:each="receiptItem , rowStat: *{receiptItem}">
                  
                  <td ><input type="hidden" readonly="readonly"  class="form-control" th:field="*{receiptItem[__${rowStat.index}__].id}" /><input type="hidden" readonly="readonly"  class="form-control" th:field="*{receiptItem[__${rowStat.index}__].paymentType}" /><input type="hidden" readonly="readonly"  class="form-control" th:field="*{receiptItem[__${rowStat.index}__].currency}" /><input type="hidden" readonly="readonly"  class="form-control" th:field="*{receiptItem[__${rowStat.index}__].paymentFor}" /></td>
                  <td th:text="${receiptItem.paymentType.name}"></td>
                  <td th:text="${receiptItem.currency.name}"></td>
                  <td th:text="${receiptItem.paymentFor}"></td>
                  <td ><input type="text" readonly="readonly"  class="form-control" th:field="*{receiptItem[__${rowStat.index}__].amount}" /></td>
                  <td ><input type="text" readonly="readonly"  class="form-control" th:value="*{receiptItem[__${rowStat.index}__].currencyRate}" /></td>
                  <td ><input type="text" readonly="readonly"  class="form-control" th:field="*{receiptItem[__${rowStat.index}__].convertedAmount}" /></td>
                </tr>
                </table> 
                 <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6" align="right"><div  th:if="${id == 0}" ><input type="submit"  name="btnSubmit" id="btnSubmit"  onclick="disableSubmit(this)" value="Submit" class="btn btn-primary" /></div></div>
                  <div class="col-lg-6 col-md-6 col-sm-6"><a th:href="@{/bill/receipt/}"  class="btn btn-primary">Cancel</a></div>
                </div>
                </form>
                <!-- Content End Here -->
            </div>
            </div>            
  <div th:replace ="footer::footer"></div>
  <script th:utext="${msg}"></script>
 </body>
</html>