<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="head :: head"> </head>
    <body> 
        <div class="wrapper">
            <div th:replace ="sidebar::sidebar"></div>
            <div id="content">

                <div th:replace ="navheader::navheader"></div>
                <h2>Update Service Policy</h2>
                <div class="line"></div>
                <div id="msg"></div>
                <!-- Content Start Here -->
                <form action="#" th:action="@{/bill/servicepolicyform}" th:object="${servicePolicy}" method="post">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" align="right"><input type="submit" value="Get Service Policy List" class="btn btn-success" /></div>
                        <div class="col-lg-6 col-md-6 col-sm-6"></div>
                    </div>       
                    <br />
                <div class="well">
                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div id="tableMsg"></div> 
                        </div>
                     </div>       
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3" align="right">Lob</div>
                        <div class="col-lg-3 col-md-3 col-sm-3"><select class="selectpicker" data-style="btn-default"  data-live-search="true" th:field="*{lob}" onchange="getUnitsListSell(this);getHmsServiceListNoChargeWithUnit(this)" >
                                <option value="">Choose Category</option>
                                <option th:each="lob : ${servicePolicy.lobs}" th:value="${lob.id}" th:text="${lob.name}">....</option>  </select></div>
                        <div class="col-lg-3 col-md-3 col-sm-3" align="right">Unit</div>
                        <div class="col-lg-3 col-md-3 col-sm-3"><select class="selectpicker" data-style="btn-default"  data-live-search="true" th:field="*{unit}"  >
                            <option th:if="*{unit}" th:value="*{unit.id}" th.text="*{unit.name}">...</option>
                            </select></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3" align="right">Category</div>
                        <div class="col-lg-3 col-md-3 col-sm-3"><select class="selectpicker" data-style="btn-default"  data-live-search="true" th:field="*{billCategory}" onchange="getInstituationsList(this)" >
                                <option value="">Choose Category</option>
                                <option th:each="billCategory : ${servicePolicy.billCategorys}" th:value="${billCategory}" th:text="${billCategory}">....</option>  </select></div>
                        <div class="col-lg-3 col-md-3 col-sm-3" align="right">Institution</div>
                        <div class="col-lg-3 col-md-3 col-sm-3"><select class="form-control" th:field="*{institution}" >
                            </select></div>
                    </div>               
                      <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3" align="right">Service</div>
                        <div class="col-lg-3 col-md-3 col-sm-3"><select class="selectpicker" data-style="btn-default"  data-live-search="true" id="serviceDetails" >
                                <option value="">Choose Service</option>
                                 </select></div>
                       <div class="col-lg-3 col-md-3 col-sm-3" align="right">Type</div>
                        <div class="col-lg-3 col-md-3 col-sm-3"><select class="selectpicker" data-style="btn-default"  data-live-search="true" id="servicePolicyType" >
                                <option value="">Choose Type</option>
                                <option th:each="servicePolicyType : ${servicePolicy.servicePolicyTypes}" th:value="${servicePolicyType}" th:text="${servicePolicyType}">....</option>  </select></div>
                        <div class="col-lg-3 col-md-3 col-sm-3" align="right">Duration</div>
                        <div class="col-lg-3 col-md-3 col-sm-3"><input type="text" class="form-control"  id="duration"  /></div>
                    </div>                            
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" align="right"><input type="button" value="Add New Service Policy" onclick="addServicePolicyTable()" class="btn btn-success" /></div>
                        <div class="col-lg-6 col-md-6 col-sm-6"></div>
                    </div>       
                </div>  
                    <table class="table" id="table">
                        <tr>
                            <th>Action</th>
                            <th>Service</th>
                            <th>Lob</th>
                            <th>Unit</th>
                            <th>Bill Category</th>
                            <th>Insititution</th>
                            <th>Duration</th>
                        </tr> 
                        <tr th:each="servicePolicys , rowStat: *{servicePolicys}">
                         <td><input type='hidden' th:field='*{servicePolicys[__${rowStat.index}__].hmsService}' /><input type='hidden' th:field='*{servicePolicys[__${rowStat.index}__].id}'  />
                         <input type='hidden' th:field='*{servicePolicys[__${rowStat.index}__].lob}'  /><input type='hidden' th:field='*{servicePolicys[__${rowStat.index}__].unit}'  /><input type='hidden' th:field='*{servicePolicys[__${rowStat.index}__].billCategory}'  />
                         <input type='hidden' th:field='*{servicePolicys[__${rowStat.index}__].institution}'  />
                         <input type='checkbox' th:checked="${servicePolicys.activeStatus}" th:field='*{servicePolicys[__${rowStat.index}__].activeStatus}' />
                         </td>
                         <td th:text="*{servicePolicys[__${rowStat.index}__].hmsService?.name}"></td>
                         <td th:text="*{servicePolicys[__${rowStat.index}__].lob?.name}"></td>
                         <td th:text="*{servicePolicys[__${rowStat.index}__].unit?.name}"></td>
                         <td th:text="*{servicePolicys[__${rowStat.index}__].billCategory}"></td>
                         <td th:text="*{servicePolicys[__${rowStat.index}__].institution?.name}"></td>
                         <td ><input type='text' class="form-control" th:field='*{servicePolicys[__${rowStat.index}__].duration}'  /></td>
                        </tr>
                      
                    </table>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" align="right">
                            <input type="submit" value="Submit" class="btn btn-primary" /></div>
                        <div class="col-lg-6 col-md-6 col-sm-6"></div>
                    </div>
                </form>
                <!-- Content End Here -->
            </div>
        </div>            
        <div th:replace ="footer::footer"></div>
        <script th:utext="${msg}"></script>
    </body>
</html> 
