<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="head :: head"> </head>
 <body> 
 <div class="wrapper">
           <div th:replace ="sidebar::sidebar"></div>
            <div id="content">
                <div th:replace ="navheader::navheader"></div>
                <h2>User List</h2>
                <div class="line"></div>
                <div id="msg"></div>
                <!-- Content Start Here -->
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12"><a th:href="@{'/auth/useraction/0' }"><span class="glyphicon glyphicon-plus"></span></a></div>
                </div>
               <table class="table">
               <tr>
               <th>Action</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
               </tr>
    <tr data-th-each="user : ${users}">
        <td><a th:href="@{'/auth/useraction/' + ${user.id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td data-th-text="${user.username}">...</td>
        <td data-th-text="${user.firstName}">...</td>
        <td data-th-text="${user.lastName}">...</td>
    </tr>
</table>
                <!-- Content End Here -->
            </div>
            </div>
  <div th:replace ="footer::footer"></div>
  <script th:utext="${msg}"></script>
 </body>
</html>